{% load static %}

<!-- 로그인 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체크마블</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 style="font-family:z">Login</h1>
            <form class="login-form" method="post">
                {% csrf_token %}
                <!-- CSRF Token -->
                <input type="text" name="username" placeholder="아이디" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <button type="submit" class="login-button"><b>로그인</b></button>
            </form>
            <div class="signup-link">
                <a href="{% url 'accounts:join' %}">회원가입하기</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</body>