/* 로그인 폼 스타일 */
.content h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

/* 로그인 버튼 스타일 */
.login-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #0062CC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0062CC;
}

/* 회원가입 링크 스타일 */
.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #868E96;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
